<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> <a href="https://documenter.getpostman.com/view/11156949/TVCjwRNY" target="_blank">API Documentation</a></p>
  </body>
</html>
